# ==========================
# Foundry
# ==========================
cache/
out/
broadcast/

# ==========================
# Dependencies
# ==========================
lib/

# ==========================
# Python (scripts)
# ==========================
__pycache__/
*.py[cod]
.venv/
venv/

